[submodule "external/CommonLibSSE"]
	path = external/CommonLibSSE
	url = https://github.com/Exit-9B/CommonLibSSE.git
[submodule "tools/SKSE-CMakeModules"]
	path = tools/SKSE-CMakeModules
	url = https://github.com/Exit-9B/SKSE-CMakeModules.git
[submodule "external/skyui"]
	path = external/skyui
	url = https://github.com/Exit-9B/skyui.git
[submodule "external/skyui-vr"]
	path = external/skyui-vr
	url = https://github.com/Exit-9B/skyui.git
